body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: #333;
}

header {
    background-color: white;
    color:rgb(45, 171, 239);
    padding: 1em 0;
    text-align: center;
   
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul :hover{
text color: red;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(45, 171, 239);
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #adaaaa;
    color: rgb(11, 12, 13);
    text-align: center;
    padding: 1px 0;
    position: ;
    width: 100%;
    bottom: 0;
}

section {
    margin-bottom: 20px;
}

blockquote {
    background-color: #fbf9f9;
    border-left: 5px solid #ddd;
    padding: 10px 20px;
    margin: 20px 0;
}

blockquote footer {
    font-style: italic;
    display: block;
    text-align: right;
    margin-top: 10px;
}